.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.drag-drop-zone {
    display: left;
    justify-content: left;
    width: 50%;
    height: 50px;
    padding: 2rem;
    background: #f2f2f2;
    border-radius: 0.5rem;
    align-items: left;
    color: #0e0d0c;
}

.drag-drop-zone.inside-drag-area {
    opacity: 0.7;
}