.containers {
    background-color: hsl(45, 33%, 95%);
    padding: 20px 40px;
    color: rgb(8, 0, 0);
    font-weight: 400;
    height: 80%;
    box-shadow: 7px -8px 11px -5px rgba(#195190FF);
}

.Tab {
    display: flex;
    justify-content: space-between;
}

.register {
    background-color: rgb(244, 244, 224);
    width: 50%;
    height: 100%;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.register:hover {
    text-decoration: none;
    color: #fff;
}

.activeLink {
    color: #fff;
    background-color: #195190FF;
}
.Anemone {
    height: 160px;
    width: 400px;
    border-radius: 30%;
}

.text-center{
background-color: #1942c9;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
font-weight: 300;
}
